.login {
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    center / cover
      url("https://images.pexels.com/photos/2036645/pexels-photo-2036645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  .register-box {
    background-color: white;

    padding: 2rem;
    width: 50%;
    h1 {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
      text-decoration: underline;
      cursor: pointer;
      width: fit-content;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    & > input:not(:nth-last-child(1)) {
      flex: 1;
      min-width: 40%;
      height: 4rem;
      padding: 1rem;

      @media screen and (max-width: 600px) {
        min-width: 100%;
      }
    }
    p {
      margin: 1rem 0;
    }

    input[type="button"] {
      padding: 1rem 2rem;
      background-color: teal;
      border: none;
      color: white;
      flex: 0;
      width: 4rem;
      cursor: pointer;
      margin: 0.5rem 0;
      min-width: 30%;
      height: 4rem;
      padding: 1rem;
      @media screen and (max-width: 600px) {
        min-width: 100%;
      }
    }
  }
}
