.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 4rem;
  gap: 1rem;
  position: relative;
  color: white;

  .categories-title {
    text-align: center;
    width: 100%;
    color: black;
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 2rem;
  }
}
