.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  .icon {
    font-size: 3rem;
    cursor: pointer;
    color: black;
  }
  a,
  a:visited {
    text-decoration: none;
    color: black;
  }
}

.navbar-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  justify-content: start;

  @media screen and (max-width: 576px) {
    flex: none;
  }

  a {
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}

.search {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  border: 1px solid lightgray;
  @media screen and (max-width: 576px) {
    margin-left: 0;
  }
  input {
    height: 30px;
    padding: 0 1rem;
    border: none;
    &:focus-within {
      outline: none;
    }
    @media screen and (max-width: 576px) {
      width: 5.2rem;
      padding: 0 0.5rem;
    }
  }
  .search-icon {
    font-size: 2.5rem;
    color: grey;
  }
}

.right {
  justify-content: flex-end;
  display: flex;

  gap: 1rem;

  .link,
  .link:active,
  .link:visited {
    color: black;
    text-decoration: none;
  }
  .signin {
    @media screen and (max-width: 576px) {
      flex: 1 0 4rem;
    }
  }

  .badge {
    font-size: 2rem;
    @media screen and (max-width: 576px) {
      font-size: 1rem;
    }
  }

  .icon-button {
    width: 3rem;
  }
}
.center {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;

  .logo {
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    font-size: 1.8rem;
  }
}
