.slide {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 100vw;

  .slider-image {
    flex: 1;
    height: 100%;
    text-align: center;

    img {
      margin-left: 10rem;
      height: 100%;
      object-position: center;
      //   height: 100%;
      object-fit: cover;
    }
  }

  .slider-detail {
    padding: 5rem;
    flex: 1;

    .slide-title {
      font-size: 7rem;
    }
    .slide-description {
      margin: 5rem 0;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 3px;
      width: 70%;
    }
    .slide-button {
      padding: 1rem;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer;
      //   border: 1px solid #000;
    }
  }
}
